{% extends "base.html" %}
{% load static %}
{% load studytags %}
{% block content %}
    <main class='exercise-main'>
        <div class="under-main">
            <div class="links-grades">
                <div class='c-active-2'>
                    <a href={% url "exercise" object.slug %} >Информация</a>
                </div>
                <div class="c-active">
                    <a href='#'>Работы учащихся</a>
                </div>
            </div>
            {% for group_key,group_value in groups.items %}
                <div class="module module_first completed_ex_group">
                    <input type="checkbox" name="chacor" id={{group_key}} />
                    <label for={{group_key}}>{{group_key}}</label>
                    <div class="above-exercise">
                        {% for fuser in group_value %}
                            {% for user_key,user_value in fuser.items %}
                                <div class="block_of_ex_link">
                                    <p  class='exercise_link blue'>{{user_key.last_name|add:" "|add:user_key.first_name}}</p>
                                </div>
                                <div class="above_one_ex">
                                    {% for ex,grade in user_value.items %}
                                        <div class="one_ex">
                                            {% if ex.count_correct_test %}
                                                <div class="above_date_ex">
                                                    <p>{{ex.date_created}}</p>
                                                    <p class='value-line'><span>Результат: </span>{{ex.count_correct_test}} из {{ex.count_quests|add:"    "}}<span class='percent'>{{ex.count_correct_test|percent:ex.count_quests}}%</span></p>
                                                </div>
                                            {% else %}
                                                <div class="above_date_ex">
                                                    <p>{{ex.date_created}}</p>
                                                    <p>{{ex.message}}</p>
                                                    {% if ex.file %}
                                                        <a href={{ex.file.url}} target=_blank>{{ex.file.url|split:"/"|last}}</a>
                                                    {% endif %}
                                                </div>
                                                <form action={% url "new_grade" object.slug%} method='POST' id="myForm" >
                                                    {% csrf_token %}
                                                    <p class='nonedisplay'><input type="text" id="completed_ex_id" name="completed_ex_id" value={{ex.pk}} /></p>
                                                    {% if grade %}
                                                        {% if grade.message %}
                                                            <p class='message_123'><span>Сообщение: </span>{{grade.message}}</p>
                                                        {% endif %}
                                                        <p class='grade_123'><span>Оценка: </span>{{grade.grade}}</p>
                                                    {% else %}
                                                        <p><input type="text" id="message" name="message" placeholder='Сообщение'/></p>
                                                        <p><input type="text" id="grade" name="grade" required minlength="1" maxlength="1" size="1" placeholder='Оценка' class='c123'/></p>
                                                        <p><button type="submit">Отправить</button></p>

                                                    {% endif %}
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
<script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();
        // Ваш код для обработки формы здесь
    });
</script>
