{% extends "base.html" %}
{% load static %}
{% load studytags %}
{% block content %}
    <main class='exercise-main'>
        <div class="under-main">
            <div class="links-grades">
                {% if perms.Study.add_Grades %}
                    <div class='active'>
                        <a href="#" >Информация</a>
                    </div>
                    <div class="active-2">
                        <a href={% url "completed" object.slug %}>Работы учащихся</a>
                    </div>
                {% endif %}
            </div>
            <div class="exercise_header">
                <div class="exercise-inf">
                    <p class='fw-400'>{{object.title}}</p>
                    <div class="exercise-inf-u">
                        <p class='fw-400 author'>{{object.author.first_name|add:" "|add:object.author.last_name}}</p>
                        <p class='fw-400'>{{object.date_created}}</p>
                    </div>
                </div>
                {% if perms.Study.add_education_materials %}
                    <div class="dropdown">
                        <div class="more-block"><img src={% static "Study\images\more.svg" %} alt="more" clas></div>
                        <div class="dropdown-content">
                            {% comment %} <a href={% url "delete" object.slug %}>Удалить</a> {% endcomment %}

                                <form action={% url "delete_ex" object.slug %} method='POST'>
                                    {% csrf_token %}
                                    <button type="submit">Удалить</button>
                                </form>
                                <form action={% url "update_ex" object.slug %} method='GET'>
                                    <button type="submit">Изменить</button>
                                </form>

                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="exercise-disc">
                <p class='fw-400'>{{object.discription}}</p>
            </div>
            <div class="files-block">
                {% with object.files.all as files %}
                    {% if files %}
                        {% for i in files %}
                            <div class="file-block">
                                <a href={{i.file.url}} target="_blank">
                                    <div class="image-file">
                                        <img src={% static "Study/images/file.svg" %} alt="">
                                    </div>
                                    <div class="title-file">
                                        <p>{{i.title|slice:22|add:"..."}}</p>
                                        <p>{{i.title|file}}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {% if completed_ex %}
            <div class="completed-exercises">
                {% for i in completed_ex %}
                    <div class="one-completed">
                        <p class='try-count'>Попытка #{{ forloop.counter }}</p>
                        {% if i.message %}
                        <div class="comp-line">
                            <label for="value-line">Ответ:</label>
                            <div class="block-mes">
                                <p class='value-line'>{{i.message}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if i.file %}
                            <div class="comp-line">
                                <a class='file-line' href={{i.file.url}}>{{i.title}}</a>
                            </div>
                        {% endif %}
                        <div class="comp-line">
                            <label for="value-line">Дата ответа:</label>
                            <p class='value-line'>{{i.date_created}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
                <div class="send-completed">
                    <p class='try-count'>Новая попытка</p>
                    <form action={% url "new_completed" object.slug%} method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <p><textarea type="text" name="message" id="message" cols='180' rows='8'></textarea></p>
                        <div class="but-line">
                            <p><input type="file" name="file" id="file" multiple ></p>
                            <p><button type="submit">Отправить</button></p>
                        </div>
                    </form>
                </div>
        </div>
    </main>
{% endblock %}
