{% extends "base.html" %}

{% block content %}
    <main>
        <div class="under-main">
            <p class='fw-400 main-title'>{{object.id}}</p>
            <p class='fw-400 main-title'>{{object.date_created}}</p>
            <p class='fw-400 main-title'>{{object.title}}</p>
            <p class='fw-400 main-title'>{{object.discription}}</p>
            <p class='fw-400 main-title'>{{object.deadline}}</p>
            <p class='fw-400 main-title'>{{object.type}}</p>
            <p class='fw-400 main-title'>{{object.module}}</p>
        </div>
    </main>
{% endblock %}
