{% extends "base.html" %}

{% block content %}
    <main>
        <div class="under-main">
            <p class='fw-400 main-title'>ОБУЧЕНИЕ</p>
            {% for key, value in sections.items %}
                <p class='fw-400 title_of_ex'>{{key.title|upper}}</p>
                {% for module in value %}
                    {% for mod_key, mod_value in module.items %}
                        <div class="module module_first">
                            <input type="checkbox" name="chacor" id={{mod_key.slug}} />
                            <label for={{mod_key.slug}}>{{mod_key.title|upper}}</label>
                            <div class="above-exercise">
                                {% for ex in mod_value %}
                                    <div class="block_of_ex_link">
                                        <a href='{{ ex.get_absolute_url }}'  class='exercise_link'>{{ex.title}}</a>
                                    </div>
                                    <hr>
                                {% endfor %}
                                <div class="block_of_ex_link">
                                    <a href={% url "new_exercise" mod_key.slug %} class='exercise_link create_ex'>Добавить</a>
                                </div>
                                    <hr>
                                {% endfor %}
                                <div class="block_of_ex_link">
                                    <a href={% url "new_exercise" mod_key.slug %} class='exercise_link create_ex'>Добавить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
