{% extends "base.html" %}

{% block content %}
    <main>
        <div class="under-main u-n">
            <p class='fw-400'>Изменить задание</p>
            <form method='post' enctype='multipart/form-data' class='update-create-form'>
                {% csrf_token %}
                {% comment %} {{ form.as_p }}
                <p><button type="submit">Изменить</button></p> {% endcomment %}
                <div class="form-input-material-2 block-input">{{form.title}}</div>
                <div class="form-input-material-2 block-input">{{form.discription}}</div>
                <div class="form-input-material-2 block-input ">
                    {{form.module}}{{form.type}}</div>
                <div class="block-input form-input-material-3">
                        {{form.deadline}}
                </div>
                <div class="form-input-material-1 block-input">
                    {{form.files}}
                </div>
                <p><button type="submit">Изменить</button></p>
            </form>
        </div>
    </main>
{% endblock content %}
