{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <div class="login-main">
            <div class="block-image">
                {% if user.photo %}
                    <style>
                        .user_photo_block {
                            width: 220px;
                            height: 220px;
                            border-radius:100%;
                            {% comment %} border:1px solid black; {% endcomment %}
                            background: url("{{ user.photo.url }}") center no-repeat;
                            background-size: cover;
                        }
                        @media (max-width: 768px) {
                            .user_photo_block {
                                width: 150px;
                                height: 150px;
                                border-radius: 100%;
                                background: url("{{ user.photo.url }}") center no-repeat;
                                background-size: cover;
                            }
                        }
                    </style>
                    <div class="user_photo_block"></div>
                {% else %}
                    <img src={% static "Profile\images\photo.svg" %} alt="profile" class='undefined_photo'>
                {% endif %}
                <div class="btns">
                    {% comment %} <button class='change-photo' >ИЗМЕНИТЬ ФОТО</button> {% endcomment %}
                    <form method="POST" enctype='multipart/form-data' action={% url "change_photo" %} id='uploadForm'>
                        {% csrf_token %}
                        <label class="input-file">
                            <input type="file" name="file" id="file" onchange="this.form.submit()">
                            <span>ИЗМЕНИТЬ ФОТО</span>
                         </label>
                    </form>

                    <form action={% url "delete_photo" %} method='get'>
                        <button class='delete-photo'>УДАЛИТЬ ФОТО</button>
                    </form>
                </div>
                <div class="mobile_btn">
                    <form method="POST" enctype='multipart/form-data' action={% url "change_photo" %} id='uploadForm'>
                        {% csrf_token %}
                        <label class="input-file">
                            <input type="file" name="file" id="file" onchange="this.form.submit()">
                            <span><img src={% static "Profile/images/Vector.svg" %} alt="" class='mobile_change_photo'></span>
                         </label>
                    </form>
                </div>
            </div>
            <div class="block-inf">
                <div class="inf-line">
                    <p class="title-inf">ФИО:</p>
                    <p class="data-inf">{{user.last_name|add:" "|add:user.first_name}}</p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Статус:</p>
                    <p class="data-inf">
                        {% if perms.Study.add_education_materials %}
                            Преподаватель
                        {% else %}
                            Студент
                        {% endif %}
                    </p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Курс:</p>
                    <p class="data-inf">
                        {% if user.curse %}
                            {{user.curse}}
                        {% else %}
                            ---
                        {% endif %}</p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Группа:</p>
                    <p class="data-inf">
                        {% if user.study_group %}
                            {{user.study_group}}
                        {% else %}
                            ---
                        {% endif %}</p>

                    </p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Эл. почта:</p>
                    <p class="data-inf">
                        {% if user.email %}
                            {{user.email}}
                        {% else %}
                            ---
                        {% endif %}</p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Телефон:</p>
                    <p class="data-inf">
                        {% if user.phone %}
                            {{user.phone}}
                        {% else %}
                            ---
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
