{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <div class="login-main">
            <div class="block-image">
                <img src={% static "Profile\images\photo.svg" %} alt="profile">
                <div class="btns">
                    <button class='change-photo'>ИЗМЕНИТЬ ФОТО</button>
                    <button class='delete-photo'>УДАЛИТЬ ФОТО</button>
                </div>
            </div>
            <div class="block-inf">
                <div class="inf-line">
                    <p class="title-inf">ФИО</p>
                    <p class="data-inf">{{user.last_name|add:" "|add:user.first_name}}</p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Статус</p>
                    <p class="data-inf">
                        {% if perms.Study.add_education_materials %}
                            Преподаватель
                        {% else %}
                            Студент
                        {% endif %}
                    </p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Курс</p>
                    <p class="data-inf">
                        {% if user.curse %}
                            {{user.curse}}
                        {% else %}
                            ---
                        {% endif %}</p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Группа</p>
                    <p class="data-inf">
                        {% if user.study_group %}
                            {{user.study_group}}
                        {% else %}
                            ---
                        {% endif %}</p>

                    </p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Эл. почта</p>
                    <p class="data-inf">
                        {% if user.email %}
                            {{user.email}}
                        {% else %}
                            ---
                        {% endif %}</p>
                </div>
                <div class="inf-line">
                    <p class="title-inf">Телефон</p>
                    <p class="data-inf">
                        {% if user.phone %}
                            {{user.phone}}
                        {% else %}
                            ---
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
